body{
    background-color:silver;
}

#subtitle-1{
    text-align: center;
    font-size: bold;
    font-weight: 400%;
    font-family: Arial, Helvetica, sans-serif;
}

#subtitle-2{
    text-align: center;
}

h2{
    color: green;
}

/* #subtitle{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size:bold;
    font-weight: 600;
    word-spacing: 0em;
} */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: rgb(15, 15, 179);
}

/* .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} */