body{
    background-color:silver;
}

#heading-1:hover{
    color: rgba(248, 161, 0, 0.925);
    text-transform: uppercase;
    font-size: bold;
    font-family: sans-serif;
}

#nav-1{
    background-color: rgb(134, 91, 9);
    width: 100%;
    height: 50px;
}

#nav-2{
    text-align: left;
    color: black;
    padding-top: 10px;
    height:90px
}

#img-1{
    width: 100%;
    height: 500px;
    border: 2px;
    padding-bottom: 30px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 50px;
    width: 50%;
}

nav{
    flex:1;
    text-align: right;
    background-color: black;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
}

#subtitle-1{
    text-align: center;
    font-size: bold;
    font-weight:600;
    text-transform: uppercase;
    font-family:'Times New Roman', Helvetica, sans-serif;
    font-style:italic;
}

#subtitle-2{
    color:steelblue;
    text-align: center;
    text-indent: 30px;
    font-weight: 600;
    font-size: bold;
    font-family: sans-serif;
}

.para{
    color:black;
    font-size: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 60px;
}

.column{
    float: left;
    width: 32%;
    padding: 8px;
    padding-bottom: 200px; 
}

/* Clearfix (clear floats)*/
.row::after{
content:"";
clear: both;
display: table;
}

    .heading{
        padding-left: 16%;
    }

    #para-1{
        font-size: large;
        font-family:Arial, Helvetica, sans-serif;
        padding-right: 60%;
        margin-left: 50px;
    }

    .images{
        vertical-align: 50px;
        float: right;
    }

    .whole-form{
        display: flex;
    }

    .field-space{
    padding-right: 15px;
    }

.column1{
    float: left;
    width: 20%;
    padding:0%;
    padding-bottom: 20px 
}

/* Clearfix (clear floats)*/
.row1::after{
content:"";
clear: both;
display: table;
}

.form-input{
    background-color: black;
    width: 20%;
    height: 30%;
    padding-left: 20px;
    margin-left: 10px;
}


/* #subtitle{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size:bold;
    font-weight: 600;
    word-spacing: 0em;
} */

.about-us{
    background: url("");
}

a{
    text-decoration: none;
    color: rgb(15, 15, 179);
}

/* .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} */