body{
    background-color:silver;
}

#heading-1:hover{
    color: rgba(248, 161, 0, 0.925);
    text-transform: uppercase;
    font-size: bold;
    font-family: sans-serif;
}

#nav-1{
    background-color: rgb(134, 91, 9);
    width: 100%;
    height: 50px;
}

#nav-2{
    text-align: left;
    color: black;
    padding-top: 10px;
    height:90px;
}

#img-1{
    width: 100%;
    height: 500px;
    border: 2px;
    padding-bottom: 30px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 50px;
    width: 50%;
}

nav{
    flex:1;
    text-align: right;
    background-color: black;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#subtitle-1{
    text-align: center;
    font-size: bold;
    font-weight:600;
    text-transform: uppercase;
    font-family:'Times New Roman', Helvetica, sans-serif;
    font-style:italic;
}

#subtitle-2{
    color:steelblue;
    text-align: center;
    text-indent: 30px;
    font-weight: 600;
    font-size: bold;
    font-family: sans-serif;
}

.para{
    color:black;
    font-size: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 60px;
}

.column{
    float: left;
    width: 32%;
    padding: 8px;
    padding-bottom: 100px; 
}

/* Clearfix (clear floats)*/
.row::after{
content:"";
clear: both;
display: table;
}

    .heading{
        /* padding-left: 16%; */
        /* float: right; */
        text-align: center;
        margin-top: 1%;
        color: navy;
        
    }

    #para-1{
        font-size: large;
        font-family:Arial, Helvetica, sans-serif;
        padding: 5%;
        text-align: center;
        text-align: justify;
    }

    .whole-form{
        display: flex;
        background-color: black;      
    }

    .field-space{
    padding-right: 20px;
    margin-left: 5%;
    }

    .input-input{
        padding: 15px;
    }

       #a-tag{
        color: black;
        background-color: white;
        text-transform: uppercase;
        padding: 15px;
        margin-left: 20px;
        border-radius: 10px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
    }

    #a-tag:hover{
        color:rgb(105, 114, 240);
    }

.woman{
    width: 25%;
    position: relative;
    top: 0;
    left: 0;
}

.man{
    width: 25%;
    position: absolute;
    right: 20px;
    left: 40px;
    margin-top: 10%;
    margin-left: 10%;
}

.section{
    background-color:rgb(117, 120, 122);
    height: 60vh;
}

 .head-4{
    text-align: center;
    /* margin-top: 5%; */
    padding-top: 8%;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.paragraph{
    text-align:center;  
    text-transform:uppercase;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 600;
} 

#input{
margin-left: 30%;
padding: 20px;
text-align: justify;
padding-left: 100px;
padding-right: 60px;
border: 2px solid white;
background-color:rgb(165, 139, 139);
color:white;
}

#input-2{
    padding: 20px;
    background-color:white;
    color: black;
    font-size: bold;
    font-weight: 600;
    padding-left: 60px;
    padding-right: 60px;
    letter-spacing: 3px;
    border: 2px solid white;
}

#input-2:hover{
    color: orange;
}

.para-0{
    margin-left: 15%;
    text-transform:capitalize;
    color: white;
    font-size: bold;
    font-weight: 600;
}

#footer{
    background-color:black;
    height: 10vh;
    margin-bottom: 0%;
    padding-top: 10px;
}


/* #subtitle{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size:bold;
    font-weight: 600;
    word-spacing: 0em;
} */

.about-us{
    background: url("");
}

a{
    text-decoration: none;
    color: rgb(15, 15, 179);
}

/* .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} */

#h1{
    color: green;
    text-transform: uppercase;
    margin-left: 55%;
    padding-top: 3%;
}

#address{
    margin-left: 55%;
    text-align: justify;
    font-size: bold;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 3%;
    padding-bottom: 1%;
}

#a-href{
    margin-left: 55%;
    text-transform: uppercase;
    font-size: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-right: 17%;
}

#para-3{
margin-left: 55%;
text-transform: uppercase;
color: orange;
}


.form-input{
    color: white;
    background-color: black;
    width: 219px;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 15%;
    border-radius: 5px;
    display: inline-block;
    padding-top: 5%;
}

#submit{
    color: blue;
    padding:15px;
    margin-left: 1%;
    padding-right: 30%;
    text-transform:uppercase;
    padding-left: 20%;
    margin-bottom: 20%;
    font-size: bol--------------------------------d;
    font-weight: 700;
}

#submit:hover{
    color: red;
}

.column-3{
    float: left;
    width: 20%;
    padding: 2px;
    padding-bottom: 70px;
    margin-bottom: 5%; 
}

.social{
    display:block;
    margin-bottom: 1%;
    margin-left: 30px;    
}

#facebook:hover{
    color: orange;
}

#twitter:hover{
    color: orange;
}

#instagram:hover{
    color: orange;
}



/* Clearfix (clear floats)*/
.row-3::after{
content:"";
clear: both;
display: table;
}

