body{
    background-color:greenyellow
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: rgb(15, 15, 179);
}

/* .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} */